@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf')  format('truetype'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    background: #f8f8f8;
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 12px;
    color: #818587;
    overflow-x: hidden;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto ;
}
.flex-block {
    margin: 45px 0;
    display: flex;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(129, 133, 135, .15);
}
.left-block {
    width: 40.5%;
    background: #33D2FD;
    border-radius: 15px 0 0 15px;
}
.left-block__image {
    padding-left: 5px;
    margin-top: 185px;
    width: 100%;
    height: auto;
    max-width: 390px;
}
.form-block {
    width: 59.5%;
    padding: 75px 0 0 107px;
}
form {
    max-width: 390px;
}
.form-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.easy-autocomplete {
    width: 73.5%;
}
.form-flex__input, .easy-autocomplete input {
    padding: 12px 0;
    border-radius: 3px;
    border: 1px solid #dfe7ea;
    color: #C8D3DC;
    background-color: #fcfcfd;
    width: 73.5%;
    text-indent: 14px;
}
.easy-autocomplete input {
    width: 100%;
    box-shadow: none;
}
.gender-choose {
    width: 73.5%;
    display: flex;
}
.gender-choose label {
    cursor: pointer;
}
.gender-choose label:last-child {
    margin-left: 39px;
}
.gender, .sub {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.gender+span , .sub+span {
    display: inline-flex;
    align-items: center;
    user-select: none;

}
.gender + span::before {
    content: '';
    display: inline-block;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    margin-right: 12px;
    background-color: #fcfcfd;
    background-repeat: no-repeat;
    background-position: center center;
}
.gender + .male::before {
    background-image: url("../image/male.png");
}
.gender + .female::before {
    background-image: url("../image/female.png");
}
.gender:checked+span::before {
    border-color: #95EB75;
    background-color: #95EB75;
}
.form-flex--subscription {
    margin-top: 55px;
}
.sub-choose {
    display: flex;
    justify-content: center;
    width: 73.5%;
}
.sub-choose > label {
    margin: 0 26px;
    cursor: pointer;
}
.sub-text--bronze {
    color: #FBB03B;
}
.sub-text--silver {
    color: #998675;
}
.sub-text--gold {
    color: #FCEE21;
}
.form-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 78px 0;
}
.form-buttons > input {
    padding: 14px 48px;
    border: none;
    text-transform: uppercase;
    background: #F5F8F9;
    color: #818587;
    border-radius: 3px;
    cursor: pointer;
}
.form-buttons > input:hover {
    background: #95EB75;
    color: #ffffff;
}
.form-buttons > input:last-child {
    margin-left: 7px;
    padding: 13px 55px;
}
@media (max-width: 920px) {
    .form-block {
        padding-left: 25px;
    }
}
@media (max-width: 768px) {
    .flex-block {
        flex-direction: column;
        margin-bottom: 0;
    }
    .left-block {
        order: 2;
        width: 100%;
        border-radius: 0;
        display: flex;
        justify-content: center;
    }
    .left-block__image {
        margin: 15px 0;
    }
    .form-block {
        width: 100%;
        padding: 40px 15px 0 15px;
    }
    form {
        max-width: 600px;
        margin: 0 auto;
    }
}
@media (max-width: 360px) {
    .gender-choose label:last-child {
        margin-left: 20px;
    }
    .form-buttons > input {
        padding: 14px 0 !important;
        width: 50%;
    }
    .sub-choose > label {
        margin: 0 15px;
        cursor: pointer;
    }
}